
.react-draggable {
    position: absolute;
    z-index: 2;
}

.react-draggable strong {
    background: #ddd;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
    padding: 3px 5px;
    text-align: center;
}

.react-draggable, .cursor {
    cursor: move;
}

.no-cursor {
    cursor: auto;
}

.window {
    width: 600px;
    height: 400px;
}

.window-top-bar > button {
    float: right;
}
