
.mfb-top-bar {
    display: flex;
    margin-bottom: 3px;
}

.mfb-top-bar-cwd {
    /* Grow this instead of actions */
    flex: 10000;
    min-width: 0;
}

.mfb-list-item {
    user-select: none; /*cursor: default;*/
    display: flex;
    max-width: 100%;
    padding-top: 2px;
}

.mfb-list-item-non-actions {
    display: flex;
    flex: 10000;
}

.mfb-list-item:hover, .mfb-list-item.selected {
    background: #ccc;
}

.mfb-list-item-icon {
    margin-right: 0.25em;
}

.mfb-list-item-name {
    flex: 10000;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mfb-list-item-size {
    color: #555;
    margin-right: 0.25em;
}

.mfb-action {
    padding: 2px;
}
