#sgp-settings > button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 32px;
    overflow: hidden;
}

.tooltip .tooltip-content {
    background-color: #ddd !important;
    padding: 10px;
    border-radius: 10px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 47px;
    right: 5px;
    margin-left: -60px;

    /* Visibility animation */
    transition: opacity 0.2s linear;
    /*display: none;*/
    opacity: 0;
}

.tooltip .tooltip-content.tooltip-visible {
    /*display: block;*/
    opacity: 1;
}

/* Tooltip arrow */
.tooltip .tooltip-content::after {
    content: "";
    position: absolute;
    top: -17px;
    right: 20px;
    margin-right: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
}

.settings-tooltip {
    resize: horizontal;
    max-height: calc(100vh - 100px);
    overflow: auto;
}

.settings-options {
    display: flex;
    flex-wrap: wrap;
}

.settings-options-first {
    margin-top: 10px;
}

.settings-options > label {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.settings-options > input {
    flex: 10000;
    min-width: 100px;
    margin-left: 10px;
}

.spinning {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}