#sgp-settings > button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 32px;
    overflow: hidden;
}

.tooltip .tooltip-content {
    background-color: #ddd !important;
    padding: 10px;
    border-radius: 10px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 55px;
    right: 5px;
    margin-left: -60px;

    /* Visibility animation */
    transition: opacity 0.2s linear;
    /*display: none;*/
    opacity: 0;
}

.tooltip .tooltip-content.tooltip-visible {
    /*display: block;*/
    opacity: 1;
}

/* Tooltip arrow */
.tooltip .tooltip-content::after {
    content: "";
    position: absolute;
    top: -17px;
    right: 20px;
    margin-right: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
}

.settings-tooltip {
    resize: horizontal;
    max-height: calc(100vh - 100px);
    overflow: auto;
}

.settings-tooltip > h4 {
    margin-bottom: 5px;
}

.settings-tooltip > h4:first-child {
    margin-top: 0;
}

.settings-options {
    display: flex;
    flex-wrap: wrap;
    margin: 2px 0;
}

.settings-options > label {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.settings-options > button, .settings-options > input, .settings-options > select {
    margin-left: 10px;
}

.settings-options > input[type=checkbox] {
    min-width: 20px;
}

.settings-options > h4 {
    flex: 10000;
    margin: 0;
}

.settings-options-title {
    margin: 10px 0 5px 0;
}

.settings-options-title:first-child {
    margin: 0 0 5px 0;
}

.settings-options > input, .settings-options > select {
    min-width: 100px;
    flex: 10000;
}

.spinning {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.collapsible-parent {
    display: flex;
    flex-direction: column;
}

.collapsible {
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.26s ease;
}

.collapsible.collapsible-expanded {
    max-height: 60vh;
}